@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #D9D9D9;
  font-family: "Josefin Sans", sans-serif;
}

.sticky {
  height: 20px;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: url(./img/StarBackground.png);
  background-color: #292929;
}

.navbar {
  text-decoration: none;
}

.slide-wrapper {
  width: 80%;
  height: 650px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

input {
  visibility: hidden;
  opacity: 0;
}

label {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 10;
  display: block;
  width: 12px;
  height: 42px;
  cursor: pointer;
  background: #EC7357;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

label[for=slider2] {
  margin-top: 50px;
}

label[for=slider3] {
  margin-top: 100px;
}

input:checked + label, label:hover {
  background: #fff;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateY(-100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition-duration: 0.6s;
  opacity: 1;
  transform-origin: 50% 50%;
}

input:checked + .slide {
  transform: translateY(100%);
}

input:checked + label + .slide {
  transform: translateY(0);
  opacity: 1;
}

.slide1 {
  /*------------------ LUNE ------------------*/
  /*------------------ PREMIER NUAGE ------------------*/
  /* ------------------  SECOND NUAGE  ------------------*/
}
.slide1 .mainText {
  z-index: 7;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.slide1 .title {
  color: #EC7357;
  text-align: center;
}
.slide1 .title h1 {
  font-size: 50px;
  color: #EC7357;
}
.slide1 .title p {
  text-align: center;
  color: #EC7357;
}
.slide1 .canvas {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.slide1 .moon {
  height: 500px;
  width: 500px;
  background-color: #D9D9D9;
  border-radius: 375px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
@media screen and (max-width: 768px) {
  .slide1 .moon {
    height: 350px;
    width: 350px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .moon {
    height: 250px;
    width: 250px;
  }
}
.slide1 .cloud1Part1 {
  z-index: 2;
  position: absolute;
  background-color: #636366;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-bottom: 150px;
  margin-left: 500px;
}
@media screen and (max-width: 768px) {
  .slide1 .cloud1Part1 {
    height: 80px;
    width: 80px;
    margin-left: 350px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .cloud1Part1 {
    height: 50px;
    width: 50px;
    margin-left: 200px;
    margin-bottom: 130px;
  }
}
.slide1 .cloud1Part2 {
  z-index: 2;
  position: absolute;
  background-color: #636366;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: 70px;
  margin-right: -70px;
  margin-bottom: 150px;
  margin-left: 500px;
}
@media screen and (max-width: 768px) {
  .slide1 .cloud1Part2 {
    height: 80px;
    width: 80px;
    margin-left: 350px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .cloud1Part2 {
    height: 50px;
    width: 50px;
    margin-left: 175px;
  }
}
.slide1 .cloud1Part3 {
  z-index: 2;
  position: absolute;
  background-color: #636366;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: 30px;
  margin-right: 100px;
  margin-bottom: 150px;
  margin-left: 500px;
}
@media screen and (max-width: 768px) {
  .slide1 .cloud1Part3 {
    height: 80px;
    width: 80px;
    margin-left: 350px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .cloud1Part3 {
    height: 50px;
    width: 50px;
    margin-left: 215px;
    margin-bottom: 150px;
  }
}
.slide1 .cloud1Part4 {
  z-index: 2;
  position: absolute;
  background-color: #636366;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: 70px;
  margin-bottom: 150px;
  margin-left: 500px;
}
@media screen and (max-width: 768px) {
  .slide1 .cloud1Part4 {
    height: 80px;
    width: 80px;
    margin-left: 250px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .cloud1Part4 {
    height: 50px;
    width: 50px;
    margin-left: 200px;
  }
}
.slide1 .cloud1Part5 {
  z-index: 2;
  position: absolute;
  background-color: #636366;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: 70px;
  margin-right: 160px;
  margin-bottom: 150px;
  margin-left: 500px;
}
@media screen and (max-width: 768px) {
  .slide1 .cloud1Part5 {
    height: 80px;
    width: 80px;
    margin-left: 350px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .cloud1Part5 {
    height: 50px;
    width: 50px;
    margin-left: 219px;
  }
}
.slide1 .cloud1Bottom {
  z-index: 2;
  position: absolute;
  background-color: #636366;
  height: 60px;
  width: 190px;
  border-radius: 500px;
  margin-top: 110px;
  margin-right: 45px;
  margin-bottom: 150px;
  margin-left: 500px;
  box-shadow: 0px 10px 18px black;
}
@media screen and (max-width: 768px) {
  .slide1 .cloud1Bottom {
    height: 40px;
    width: 160px;
    margin-left: 350px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .cloud1Bottom {
    height: 30px;
    width: 130px;
    margin-bottom: 169px;
    margin-left: 200px;
  }
}
.slide1 .cloud2Part1 {
  z-index: 2;
  position: absolute;
  background-color: #636366;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 50px;
  margin-right: 405px;
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .slide1 .cloud2Part1 {
    height: 80px;
    width: 80px;
    margin-right: 255px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .cloud2Part1 {
    height: 50px;
    width: 50px;
    margin-right: 195px;
    margin-top: 120px;
  }
}
.slide1 .cloud2Part2 {
  z-index: 2;
  position: absolute;
  background-color: #636366;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: 167px;
  margin-left: 70px;
  margin-right: 405px;
}
@media screen and (max-width: 768px) {
  .slide1 .cloud2Part2 {
    height: 80px;
    width: 80px;
    margin-right: 255px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .cloud2Part2 {
    height: 50px;
    width: 50px;
    margin-right: 130px;
    margin-top: 153px;
  }
}
.slide1 .cloud2Part3 {
  z-index: 2;
  position: absolute;
  background-color: #636366;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: 110px;
  margin-right: 505px;
}
@media screen and (max-width: 768px) {
  .slide1 .cloud2Part3 {
    height: 80px;
    width: 80px;
    margin-right: 355px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .cloud2Part3 {
    height: 50px;
    width: 50px;
    margin-right: 110px;
    margin-top: 110px;
  }
}
.slide1 .cloud2Part4 {
  z-index: 2;
  position: absolute;
  background-color: #636366;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: 170px;
  margin-right: 405px;
}
@media screen and (max-width: 768px) {
  .slide1 .cloud2Part4 {
    height: 80px;
    width: 80px;
    margin-right: 255px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .cloud2Part4 {
    height: 50px;
    width: 50px;
    margin-right: 155px;
    margin-top: 140px;
  }
}
.slide1 .cloud2Part5 {
  z-index: 2;
  position: absolute;
  background-color: #636366;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: 170px;
  margin-right: 585px;
}
@media screen and (max-width: 768px) {
  .slide1 .cloud2Part5 {
    height: 80px;
    width: 80px;
    margin-right: 435px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .cloud2Part5 {
    height: 50px;
    width: 50px;
    margin-right: 250px;
    margin-top: 150px;
  }
}
.slide1 .cloud2Bottom {
  z-index: 2;
  position: absolute;
  background-color: #636366;
  height: 60px;
  width: 190px;
  border-radius: 500px;
  margin-top: 210px;
  margin-right: 450px;
  box-shadow: 0px 10px 18px black;
}
@media screen and (max-width: 768px) {
  .slide1 .cloud2Bottom {
    height: 80px;
    width: 200px;
    margin-right: 300px;
    margin-top: 174px;
  }
}
@media screen and (max-width: 520px) {
  .slide1 .cloud2Bottom {
    height: 30px;
    width: 130px;
    margin-right: 155px;
  }
}

.slide2 {
  /*----------------------------*/
}
.slide2 .stickyPres {
  height: 20px;
}
@media screen and (max-width: 767px) {
  .slide2 .stickyPres {
    height: 8px;
  }
}
.slide2 .presSlide {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  align-items: center;
  text-align: center;
}
.slide2 .presBox {
  background-color: #636366;
  height: 70vh;
  width: 80vw;
  border-radius: 90px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
}
@media screen and (max-width: 767px) {
  .slide2 .presBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.slide2 .presText {
  grid-row: 1/1;
  align-items: center;
  text-align: center;
  margin: auto;
  border-radius: 90px;
  height: 30vh;
  width: 40vw;
  background-color: #EC7357;
}
.slide2 .presText p {
  text-overflow: ellipsis;
}
@media screen and (max-width: 767px) {
  .slide2 .presText {
    height: 90vh;
    width: 70vw;
    margin-top: 20px;
  }
}
@media screen and (max-width: 424px) {
  .slide2 .presText {
    height: 30vh;
    width: 90%;
    margin-top: 20px;
    font-size: 12px;
  }
}
.slide2 .presSkills {
  margin: auto;
  grid-row: 2/2;
  border-radius: 90px;
  height: 30vh;
  width: 40vw;
  background-color: #EC7357;
  align-items: center;
  text-align: center;
}
.slide2 .presSkills h2 {
  margin-top: 5px;
}
.slide2 .presSkills img {
  height: 50px;
  width: 50px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .slide2 .presSkills {
    height: 80vh;
    width: 70vw;
    margin-top: 20px;
  }
}
@media screen and (max-width: 424px) {
  .slide2 .presSkills {
    height: 30vh;
    width: 90%;
    margin-top: 20px;
    font-size: 12px;
  }
}
.slide2 .presImage {
  grid-column: 2;
  grid-column-start: 2;
  grid-row-end: 1;
  grid-row-end: 2;
  border-radius: 90px;
  margin: auto;
  object-fit: cover;
  height: 60vh;
  width: 100%;
}
.slide2 .presImage img {
  margin-top: 20px;
  object-fit: cover;
  height: 65vh;
  width: 25vw;
  overflow: hidden;
  border-radius: 90px;
}
@media screen and (max-width: 767px) {
  .slide2 .presImage {
    display: block;
    object-fit: none;
  }
  .slide2 .presImage img {
    height: 20vh;
    width: 80%;
    overflow: hidden;
    border-radius: 90px;
  }
}
@media screen and (max-width: 424px) {
  .slide2 .presImage {
    display: block;
    object-fit: none;
  }
  .slide2 .presImage img {
    height: 25vh;
    width: 80%;
    overflow: hidden;
    border-radius: 90px;
  }
}

.slide3 .stickyPres {
  height: 20px;
}
@media screen and (max-width: 767px) {
  .slide3 .stickyPres {
    height: 8px;
  }
}
.slide3 .presSlide {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  align-items: center;
  text-align: center;
}
.slide3 .presBox {
  background-color: #EC7357;
  height: 70vh;
  width: 80vw;
  border-radius: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*        
          a{
              text-decoration: none;
              cursor: pointer;
          }
          button{
              border-radius: 90px;
              margin: auto;
              background-color: #636366;
              cursor: pointer;
              height: 200px;
              width: 400px;
              box-shadow: inset 0 0 0 0 #292929;
              transition: ease-out 0.3s;
              outline: none;

              button:hover {
                  box-shadow: inset 300px 0 0 0 #292929;
                  cursor: pointer;
                  color: #D9D9D9;
              }
              */
}
@media screen and (max-width: 767px) {
  .slide3 .presBox {
    height: 50vh;
    width: 80vw;
  }
}
.slide3 .presBox h2 {
  margin: auto;
  font-size: 100px;
}
@media screen and (max-width: 767px) {
  .slide3 {
    /*
    button{
        margin: auto;
        height: 100px;
        width: 200px;
        z-index: 555;
    }*/
  }
  .slide3 h2 {
    margin: auto;
    font-size: 50px;
  }
}

.btnLink {
  display: inline-block;
  background-color: #EC7357;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btnLink span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btnLink span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btnLink:hover {
  background-color: #ecb0a3;
}

.btnLink:hover span {
  padding-right: 25px;
}

.btnLink:hover span:after {
  opacity: 1;
  right: 0;
}

/*----------------  PAGE PROJETS  ------------------*/
/*----------------  TitreSecondaires  ------------------*/
/*Mobile*/
.secondTitle h1 {
  background-color: #29292D;
  text-align: center;
  padding: 40px;
  padding-bottom: 100px;
}

/*Desktop*/
@media screen and (min-width: 768px) {
  .secondTitle h1 {
    background-color: #29292D;
    text-align: center;
    padding: 40px;
    padding-bottom: 100px;
  }
}
.space {
  height: 17vh;
}

/*Mobile*/
/*Desktop*/
/*----------------  Template de présentation de Projet  ------------------*/
/*Desktop*/
.projectBox {
  background-color: #29292D;
}

.projectBloc {
  margin-bottom: 20px;
  /*Mobile*/
}
@media screen and (min-width: 769px) {
  .projectBloc {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 60% 20%;
  }
  .projectBloc h2 {
    text-align: center;
    border-radius: 30px;
    border: transparent;
    background-color: #D9D9D9;
    color: #EC7357;
    margin: 20px;
    grid-column: 1/3;
    height: 30px;
  }
  .projectBloc p {
    margin: 20px;
    color: #D9D9D9;
  }
  .projectBloc img {
    margin-bottom: 20px;
    object-fit: cover;
    width: 45vw;
    height: 50vh;
  }
  .projectBloc a:link {
    text-decoration: none;
  }
  .projectBloc button {
    height: 60px;
    width: 30vw;
    border-radius: 30px;
    border: transparent;
    margin-left: 20%;
    text-decoration: none;
    background-color: #EC7357;
  }
  .projectBloc .sticky {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .projectBloc {
    text-align: center;
    align-items: center;
    padding: 15px;
  }
  .projectBloc .sticky {
    height: 1px;
    width: 1px;
  }
  .projectBloc h2 {
    background-color: #D9D9D9;
    border-radius: 30px;
    border: transparent;
    color: #EC7357;
    margin: 20px;
  }
  .projectBloc p {
    margin: 20px;
    color: #D9D9D9;
  }
  .projectBloc img {
    margin-bottom: 20px;
    object-fit: cover;
    width: 85vw;
    height: 50vh;
  }
  .projectBloc button {
    height: 60px;
    width: 85vw;
    border-radius: 30px;
    border: transparent;
    grid-column: 2/2;
    background-color: #EC7357;
    color: #D9D9D9;
  }
  .projectBloc a:link {
    text-decoration: none;
    color: #D9D9D9;
  }
}

/*# sourceMappingURL=style.css.map */
